<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
    <h1> This Account belongs to @<%=InstaData.name%> </h1>
    <button>Follow</button>
    <button>Message</button>

    <p>Follwers : <%= InstaData.followers %> &nbsp; &nbsp;
    Folowing : <%=InstaData.following%></p>

    <% for(let post of InstaData.posts){%>
        <img src="<%=post.image%>" alt="some img">
        <p>Likes : <%= post.likes%> &nbsp; &nbsp; &nbsp;&nbsp; Following : <%= post.comments%></p>
    <% } %>

    <%# Accessed Value	      Example	Type
      data	                  Entire JSON file	object
      data['john']	          Single user object	object
      data['john'].username	  "john"	        string
      data['john'].followers  ["adam", "emma"]	array%>

      <%# Access John's username	data.john.username or data["john"]["username"] %>

    <hr>
</body>
</html>


