<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chats</title>
</head>
<body>
    <h3>Edit Chats... <%=chat._id %></h3>
    <p>This chat was sent from <b><%= chat.from %></b> to <b><%= chat.to %></b></p>

    <form action="/chats/<%=chat._id%>?_method=PUT" method="POST">
        <textarea rows="10" cols="50" name="msg" id=""><%= chat.msg %></textarea>
        <br>
        <br>
        <button>Edit</button>
    </form>

</body>
</html>