<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Post</h1>
    <% for(p of post){ %>
    <div class="post">
        <h3 class="username">@ <%=p.username%></h3>
        <h4 class="content"><%=p.content%></h4>
        <br>
        <a href="http://localhost:3000/post/<%=p.id%>"> See in detail</a>
        <a href="http://localhost:3000/post/<%=p.id%>/edit"> Edit</a>
        <form method="post" action="/post/<%=p.id%>?_method=DELETE">
            <button>delete</button>
        </form>
    </div>
    <%}%>

    <br>
    <a href="http://localhost:3000/post/new"> Create new Post</a>

</body>
</html>